{block content}

	{if !$user->loggedIn}

	<div id="owl-onpage"></div>


	<div class="homepage col-xs-9 col-md-5 col-lg-4">

		<h1>{_front.homepage.sluchohry}</h1>

		<div id="login-form">
			<form n:name="loginForm">
				<div class="form-group input-group input-group-lg">
					<span class="input-group-addon"><i class="fa fa-user"></i></span>
					<input n:name="username" type="text" class="form-control" id="username" placeholder="{_front.auth.loginForm.username}" autofocus>
				</div>
				<div class="form-group input-group input-group-lg">
					<span class="input-group-addon"><i class="fa fa-key"></i></span>
					<input n:name="password" type="password" class="form-control" id="password" placeholder="{_front.auth.loginForm.password}">
				</div>
				<div class="checkbox" id="remember-check">
					<label>
						<input n:name="remember" type="checkbox">{_front.auth.loginForm.remember}
					</label>
				</div>
				<button n:name="send" type="submit" class="btn btn-primary btn-lg" id="login-button"><i class="fa fa-check"></i> {_front.auth.loginForm.loginButton}</button>
			</form>
		</div>

	</div>

	{else}

		{*<header>*}
			{*<h1>{_front.game.games}*}{* <small>{_front.game.chooseYourGame}</small>*}{*</h1>*}
		{*</header>*}

		<ul id="game-list">

			{if $user->isAllowed('Front:Game:MelodicCubes', 'default')}<li>
				{include 'components/gameSelectBox.latte',
					url => ':Front:Game:MelodicCubes:',
					title => $template->translate('front.game.melodicCubes'),
					className => 'melodic-cubes',
					gameId => 1,
					maxDifficultyKey => $melodicCubesMaxdiffKey,
					scoreArray => $scoreMelodicCubes,
					faIcon => 'fa-th-large'
				}
			</li>{/if}

			{if $user->isAllowed('Front:Game:Pexeso', 'default')}<li>
				{include 'components/gameSelectBox.latte',
					url => ':Front:Game:Pexeso:',
					title => $template->translate('front.game.pexeso'),
					className => 'pexeso',
					gameId => 2,
					maxDifficultyKey => $pexesoMaxdiffKey,
					scoreArray => $scorePexeso,
					faIcon => 'fa-th'
				}
			</li>{/if}

			{if $user->isAllowed('Front:Game:NoteSteps', 'default')}<li>
				{include 'components/gameSelectBox.latte',
					url => ':Front:Game:NoteSteps:',
					title => $template->translate('front.game.noteSteps'),
					className => 'note-steps',
					gameId => 3,
					maxDifficultyKey => $noteStepsMaxdiffKey,
					scoreArray => $scoreNoteSteps,
					faIcon => 'fa-music'
				}
			</li>{/if}

			{if $user->isAllowed('Front:Game:Faders', 'default')}<li>
				{include 'components/gameSelectBox.latte',
					url => ':Front:Game:Faders:',
					title => $template->translate('front.game.faders'),
					className => 'faders',
					gameId => 4,
					maxDifficultyKey => $fadersMaxdiffKey,
					scoreArray => $scoreFaders,
					faIcon => 'fa-sliders fa-rotate-90'
				}
			</li>{/if}

		</ul>

		{include 'dialogs/difficulty.latte'}

		{*<div id="front-avatar">*}
        	{*<img src="{$avatarDir}/{$userAvatar}.svg">*}
		{*</div>*}

	{/if}

{/block}

{block scripts}
{include parent}

	{if $user->loggedIn}
    <script src="{$basePath}/assets/js/gameSelect.js"></script>
	{/if}

{/block}