{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="msapplication-config" content="/browserconfig.xml">

	<title>{if $devServer}@ {/if}{ifset title}{include title|striptags} | {/ifset}{_front.homepage.sluchohry}</title>
	{block styles}
	{*<link rel="stylesheet" href="{$basePath}/assets/css/bootstrap.css">*}
	{ifset $initGrid}<link rel="stylesheet" href="{$basePath}/assets/vendor/grido/client-side/grido.css">{/ifset}
	<link rel="stylesheet" href="{$basePath}/style.css">
	<link rel="stylesheet" href="{$basePath}/assets/vendor/font-awesome/css/font-awesome.min.css">
	{if $presenter->name == 'Front:Default'}<link rel="stylesheet" href="{$basePath}/assets/vendor/outdated-browser/outdatedbrowser/outdatedbrowser.min.css">{/if}
	{ifset $initNoUiSlider}<link rel="stylesheet" href="{$basePath}/assets/vendor/nouislider/distribute/jquery.nouislider.min.css">{/ifset}
	{ifset $initHighlightTextarea}<link rel="stylesheet" href="{$basePath}/assets/vendor/jquery-highlighttextarea/jquery.highlighttextarea.min.css">{/ifset}
	{/block}
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	<link rel="apple-touch-icon" href="{$basePath}/apple-touch-icon.png">
	<link href='//fonts.googleapis.com/css?family=Francois+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	<script src="{$basePath}/assets/vendor/modernizr/modernizr.js"></script>
	<script src="{$basePath}/assets/vendor/jquery/dist/jquery.min.js"></script>
	{block head}{/block}
</head>

<body>

	<div class="page-wrap{if $presenter->name == 'Front:Default'} home-game-page{/if}">

		{if $user->loggedIn}
		{include 'components/header.latte'}
		{/if}

		<div class="container">
		{include 'flashMessage.latte'}
		</div>

		<main class="main container">
			{include content}
		</main>

	</div>

	{if $user->loggedIn}
	{include 'components/footer.latte'}
	{/if}

	<div id="outdated"></div>

	{block scripts}

	{if $presenter->name == 'Front:Default'}<script src="{$basePath}/assets/vendor/outdated-browser/outdatedbrowser/outdatedbrowser.min.js"></script>{/if}
    <script src="{$basePath}/assets/vendor/nette.ajax.js/nette.ajax.js"></script>
	<script src="{$basePath}/assets/vendor/jquery.transit/jquery.transit.js"></script>
	<script src="{$basePath}/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	{ifset $initJQueryUI}<script src="{$basePath}/assets/vendor/jquery-ui/jquery-ui.min.js"></script>{/ifset}
	{ifset $initJQueryUISortable}<script src="{$basePath}/assets/vendor/jquery-ui-sortable/jquery-ui.min.js"></script>{/ifset}
	{ifset $initHowler}<script src="{$basePath}/assets/vendor/howler/howler.min.js"></script>{/ifset}
	<script src="{$basePath}/assets/js/netteForms.js"></script>
	<script src="{$basePath}/assets/js/main.js"></script>
	{ifset $initGrid}<script src="{$basePath}/assets/vendor/grido/client-side/grido.js"></script>{/ifset}
	{ifset $initJQTouchPunch}<script src="{$basePath}/assets/vendor/jqueryui-touch-punch/jquery.ui.touch-punch.min.js"></script>{/ifset}
	{ifset $initNoUiSlider}<script src="{$basePath}/assets/vendor/nouislider/distribute/jquery.nouislider.all.min.js"></script>{/ifset}
	{ifset $initHighlightTextarea}<script src="{$basePath}/assets/vendor/jquery-highlighttextarea/jquery.highlighttextarea.min.js"></script>{/ifset}
	{ifset $initChartJs}
	<script src="{$basePath}/assets/vendor/Chart.js/Chart.js"></script>
	<script src="{$basePath}/assets/js/chartExtends.js"></script>
	{/ifset}

	{ifset $initMidiJs}
	<!-- polyfill -->
    <script src="{$basePath}/assets/vendor/MIDI.js/inc/shim/Base64.js" type="text/javascript"></script>
    <script src="{$basePath}/assets/vendor/MIDI.js/inc/shim/Base64binary.js" type="text/javascript"></script>
    <script src="{$basePath}/assets/vendor/MIDI.js/inc/shim/WebAudioAPI.js" type="text/javascript"></script>
    <!-- midi.js package -->
    <script src="{$basePath}/assets/vendor/MIDI.js/js/midi/audioDetect.js" type="text/javascript"></script>
    <script src="{$basePath}/assets/vendor/MIDI.js/js/midi/gm.js" type="text/javascript"></script>
    <script src="{$basePath}/assets/vendor/MIDI.js/js/midi/loader.js" type="text/javascript"></script>
    <script src="{$basePath}/assets/vendor/MIDI.js/js/midi/plugin.audiotag.js" type="text/javascript"></script>
    <script src="{$basePath}/assets/vendor/MIDI.js/js/midi/plugin.webaudio.js" type="text/javascript"></script>
    <script src="{$basePath}/assets/vendor/MIDI.js/js/midi/plugin.webmidi.js" type="text/javascript"></script>
    <!-- utils -->
    <script src="{$basePath}/assets/vendor/MIDI.js/js/util/dom_request_xhr.js" type="text/javascript"></script>
    <script src="{$basePath}/assets/vendor/MIDI.js/js/util/dom_request_script.js" type="text/javascript"></script>
    {/ifset}

	{ifset $initNetteAjax}
	<script type="text/javascript">
    $(function () {
        $.nette.init();
    });
    </script>
	{/ifset}
	{/block}

	{if !$devServer}
	<script n:syntax="double">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42769412-2', { 'userId': '{{if $user->loggedIn}}{{$user->getId()|noescape}}{{else}}auto{{/if}}' });
      ga('send', 'pageview');
    </script>
	{/if}

</body>
</html>
