<footer id="main-footer">
    <div class="container">

        <div class="col-sm-6">
            {*<a n:href=":Front:Default:">*}
                {*<h1 class="site-name">Výběr her</h1>*}
            {*</a>*}
        </div>
        
        <div class="col-sm-6 text-right">
            {*<span class="author">Michal Fíbek, 2015</span> //*}

            {*<a class="e-mail" href="mailto:michal@fibek.cz">Kontakt</a> |*}

            <a href="https://www.facebook.com/sluchohry" target="_blank"><i class="fa fa-facebook-square"></i> Facebook</a>
        </div>
    </div>
</footer>